@model ProjetoEasy.Models.PROGRAMADORES
@{
    ViewBag.Title = "Cadastro de Programadores";
}

<div class="container">
    <div class="row col-md-12">
        @using (Html.BeginForm("Programadores","Add_Programador"))
        {
            @Html.ValidationSummary(true)
            {
               <fieldset>
                   <legend>@ViewBag.Legend</legend>
                   <div class="form-group col-md-4">
                       @Html.LabelFor(m=>m.NOME_PROG,new { @class="col-md-12 control-label"})
                       @Html.TextBoxFor(m => m.NOME_PROG, new { @class = "input_android col-md-12",@ng_model="programador.Nome", @placeholder = "Nome/Name", ng_required = "Nome" })
                       @Html.ValidationMessageFor(m=>m.NOME_PROG)
                   </div>
                   <div class="form-group col-md-4">
                       @Html.Label("Estados", new { @class="control-label col-md-12"})
                       @Html.DropDownList("EstadoId", new SelectList(@ViewBag.Estados, "ESTADOID", "SIGLA"), "Selecione",new { @class = "form-control col-md-12", ng_model = "programador.EstadoSelecionado",ng_change= "getCities(programador.EstadoSelecionado)" })
                   </div>
                   <div class="form-group col-md-4" ng-show="programador.EstadoSelecionado">
                       @Html.Label("Cidades", new { @class = "control-label col-md-12" })
                       <select ng-options="item.NOME for item in cities"ng-model="programador.Cidade" ng-change="programador.Cidadeid=programador.Cidade.CIDADEID" class="form-control col-md-12">
                           <option value="">Selecione</option>
                       </select>
                   </div>
                   <div class="form-group col-md-4">
                       @Html.LabelFor(m => m.EMAIL_PROG, new { @class = "col-md-12 control-label" })
                       @Html.TextBoxFor(m => m.EMAIL_PROG, new { @class = "input_android col-md-12", @ng_model = "programador.Email", @placeholder = "Seu Email", ng_required = "Email"})
                       @Html.ValidationMessageFor(m => m.EMAIL_PROG)
                   </div>
                   @Html.DisplayFor(m=>m.CIDADEID, new {ng_model="programador.Cidadeid"})
               </fieldset>
               <button type="submit" class="btn btn-primary">Adicionar</button>
            }
        }
    </div>
</div>

