@model ProjetoEasy.Models.PROGRAMADORES
@{
    ViewBag.Title = "Cadastro de Programadores";
}

<div class="container">
    <div class="row col-md-12">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            {
               <fieldset>
                   <legend>@ViewBag.Legend</legend>
                   <div class="form-group col-md-4">
                       @Html.LabelFor(m=>m.NOME_PROG,new { @class="col-md-12 control-label"})
                       @Html.TextBoxFor(m => m.NOME_PROG, new { @class = "input_android col-md-12",@ng_model="Nome", @placeholder = "Nome/Name", ng_required = "Nome" })
                       @Html.ValidationMessageFor(m=>m.NOME_PROG)
                   </div>
                   <div class="form-group col-md-4">
                       @Html.Label("Estados", new { @class="control-label col-md-12"})
                       @Html.DropDownList("EstadoId", new SelectList(@ViewBag.Estados, "ESTADOID", "SIGLA"), new { @class = "form-control", ng_model = "EstadoSelecionado",ng_change= "getCities(EstadoSelecionado)" })
                   </div>
                   {{EstadoSelecionado}}
                   <div class=" col-md-4">
                       <select ng-options="Item.Nome for Item in cities track by p.CIDADEID" ng-model="cities">
                           <option value="">Selecione</option>
                       </select>
                   </div>
                   <div class="form-group col-md-4">
                       @Html.LabelFor(m => m.EMAIL_PROG, new { @class = "col-md-12 control-label" })
                       @Html.TextBoxFor(m => m.EMAIL_PROG, new { @class = "input_android col-md-12", @ng_model = "Email", @placeholder = "Seu Email", ng_required = "Email" })
                       @Html.ValidationMessageFor(m => m.EMAIL_PROG)
                   </div>
               </fieldset>
            }
        }
    </div>
</div>

